<?xml version="1.0"?>
<robot name="lio" xmlns:xacro="http://tixiaoshan.github.io/">
  <xacro:property name="PI" value="3.1415926535897931" />

  <!-- AckermannRobot-3D frame structure for LIO-SAM visualization -->
  <link name="base_link"></link>

  <link name="laser_link"> </link>
  <joint name="laser_joint" type="fixed">
    <parent link="base_link" />
    <child link="laser_link" />
    <origin xyz="-0.078 0.0 0.384" rpy="0 0 0" />
  </joint>

  <link name="gyro_link"> </link>
  <joint name="gyro_joint" type="fixed">
    <parent link="base_link" />
    <child link="gyro_link" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

</robot>
